$text-color: #d7dfd7;

$green-1: #1aa34a;
$green-2: #1db954;

$white: #ffffff;
$grey: #a7b3b3;
$medium-grey: #595959;
$dark-grey: #2a2a2a;
$light-black: #121212;
$medium-black: #181818;
$black: #000000;

$flex-menu: 0.3;
$player-size: 100px;